/* Mis estilos */

/* estilos a la img del banner*/
img{
	width:100%; 
	height:100px;
}

body{
	background-image: url("../img/Fondo1.jpg");
	background-repeat:no-repeat;
	background-position:center;
}

.bannerturismo02{
	height: 200px;
	width: 100%;
    background-image: url("../img/banners-farmacia_23-2147551762.jpg");
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-position: center;
}



#contenido{
	margin-left:0%;
	width:100%;
	background-color: #c0c0c0;
	margin-bottom:0%;
	height: 100%;
}

#contenido2{
	margin-left:40%;
}
#contenido3{
	height:100%;
}
footer{
	
	width:100%; 
	height:100px;
 	bottom: 0;
}
	
